---
import ButtonHeader from './ButtonHeader.astro'
---

<header class="bg-gray-800 text-white p-4">
<h1 class="text-4xl text-center font-bold">SpaceX Launches</h1>
<nav class="flex flex-wrap gap-5 justify-center mt-4">
    <ButtonHeader href="./latest">Latest Launches</ButtonHeader>
    <ButtonHeader href="./oldest">Oldest Launches</ButtonHeader>
</nav>
</header>