---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<img 
			class="rounded-full w-20 h-20 my-5"
			src="https://unavatar.io/github/DiegoVaRu" 
			alt="Divaru Avatar"
    	/>
		<h1 class="text-5xl font-bold">Hey, soy Divaru <div><Badge>Disponible para trabajar</Badge></div></h1>
	</main>
</Layout>

<style>
	main {
		width: 50%;
		margin: 6% auto 0;
	}
</style>
