<header class="flex justify-between items-center w-[auto] h-20">    
    <nav class="flex flex-row gap-10">
        <a href="#inicio">Inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="/projects">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>

<style>
    header {
        margin: 0 auto;
    }
    a {
        font-size: 18px;
    }
    a:hover {
        text-decoration: underline;
    }
</style>